<ul class="listview fluid">
					<li class="bg-color-pinkDark fg-color-white">
						
                        <div class="data">
							<%= link_to user.name, user, html_options = { style: "color: #ffffff;"} %>
						
						</div>
					</li>
					<li class="bg-color-pinkDark fg-color-white">
                        <div class="data">
                             <%= user.email  %>                  
					       
                        </div>
					</li>
					<li class="bg-color-pinkDark fg-color-white">
                                            <div class="data">
                                               
												 
												 Userweekid#<%= userweek.id %>
												 
												 
												 
                                            </div>
                                          </li>                 

 

                </ul>