<ul class="listview fluid">
					<li class="bg-color-pinkDark fg-color-white">
						
                        <div class="data">
							Placeholder
						
						</div>
					</li>
					<li class="bg-color-pinkDark fg-color-white">
                        <div class="data">
                            Placeholder
					       
                        </div>
					</li>
					<li class="bg-color-pinkDark fg-color-white">
                                            <div class="data">
                                               
								Placeholder				 
							
												 
												 
												 
                                            </div>
                                          </li> 
					<li class="bg-color-pinkDark fg-color-white">
                                            <div class="data">
                                               
								Placeholder				 
							
												 
												 
												 
                                            </div>
                                          </li> 										  

 

                </ul>