<% if week.users.empty? %>
<p> No users yet...</p>
<% else %>
 <ul class="listview fluid">
 

<% week.users.each do |user| %>
<% userweek =  week.userweeks.where(user_id: user.id).first %>
<% userweekstatusclass = "" %>
<% if (userweek.userweekstatus) %>
<% userweekstatusclass = "selected" %>
<% else %>
<% userweekstatusclass = "bg-color-red fg-color-white" %>
<% end %>
                                          <li class=" <%= userweekstatusclass%> clickableDiv customDimensions">
                                            <div class="icon">
                                             <i class="icon-user icon-small"></i>
                                            </div>
                                            <div class="data">

											<%= link_to content_tag(:span, ""), user, html_options = { style: "color: #ffffff;"} %>
											<%= user.name %> 
											
											

                                            </div>
                                          </li>
<%end%>
 </ul>
<%end%>