<h1>About page</h1>

<div class="tile"></div>
    <div class="tile double">hello
                                <button><i class="icon-home"></i></button>
				<%= button_to "Help", help_path, class: "shortcut" %>
</div>
    <div class="tile selected"></div>
    <div class="tile bg-color-orange"></div>
 <div class="toolbar">
                                <button><i class="icon-home"></i></button>
                                <button><i class="icon-bookmark"></i></button>
                                <button><i class="icon-phone"></i></button>
                                <button><i class="icon-compass"></i></button>
                                <button><i class="icon-mail"></i></button>
				<%= button_to "Help", help_path, class: "shortcut" %>
				<%= button_to "Home", root_path, class: "bg-color-red" %>
                            </div>
                                    </div>


