<h1>Project Home</h1>


<!--  ============================Users slide=========================== -->


		
 <ul class="listview fluid">
                          

                       <li class="clickableDiv ">
                            <div class="icon">
                                <i class="icon-user"></i>
                            </div>

                            <div class="data">
							<%= link_to content_tag(:span, ""), users_path, html_options = { style: "color: #ffffff;"} %> 
							<h2>All Users </h2>
                                
                            </div>
                        </li>
						
						
						<li class="bg-color-pinkDark fg-color-white clickableDiv">
                                            <div class="icon">
                                             <i class="icon-drawer"></i>
                                            </div>
                                            <div class="data">
  
											<%= link_to content_tag(:span, ""), weeks_path, html_options = { style: "color: #ffffff;"} %>
							<h2>Weeks</h2>
							</div>
						</li>
						
</ul>

