<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>



<div class="carousel" data-role="carousel">
        <div class="slides">
            <div class="slide image" id="slide1">
                <img />
                <div class="description">
                    Description text here...</br>Description text here...</br>Description text here...</br>Description text here...</br>Description text here...</br>Description text here...</br>Description text here...</br>Description text here...</br>Description text here...</br>Description text here...</br>Description text here...</br>Description text here...</br>Description text here...</br>Description text here...</br>Description text here...</br>
                </div>
            </div>
 
            <div class="slide mixed" id="slide2">
                <img />
                <div class="description">
                    Description text here...Description text here...</br>Description text here...</br>Description text here...</br>Description text here...</br>Description text here...</br>Description text here...</br>Description text here...</br>Description text here...</br>Description text here...</br>Description text here...</br>Description text here...</br>Description text here...</br>Description text here...</br>Description text here...</br>
                </div>
            </div>
            ...
        </div>
 
        <span class="control left">‹</span>
        <span class="control right">›</span>
 
    </div>
