<h1>Pending stuff</h1>

<div class="tile double bg-color-red"></br>User show page design
<button>Jiras</button>
<button>Techdebt</button>
<button>Others</button>
<button>Majoraccomp</button>
<button></button>
</div>
<div class="tile bg-color-red"></br>Jiras - opened, closed, updated - changed status?</div>
<div class="tile bg-color-red"></br>Major accomplishments</div>
<div class="tile bg-color-red"></br>Items from last week</div>
<div class="tile bg-color-red"></br>Plan for next week</div>
<div class="tile bg-color-red"></br>Other items</div>
<div class="tile bg-color-red"></br>Cron job to add weeks automatically</div>
<div class="tile bg-color-red"></br>Multiple projects</div>
<div class="tile bg-color-red"></br>Multiple projects on home page</div>
<div class="tile bg-color-red"></br>week creation: use calender, name to be derived</div>
    <div class="tile double">hello
                                <button><i class="icon-home"></i></button>
				<%= button_to "Help", help_path, class: "shortcut" %>
</div>
    <div class="tile selected"></div>
    <div class="tile bg-color-orange"></div>
 <div class="toolbar">
                                <button><i class="icon-home"></i></button>
                                <button><i class="icon-bookmark"></i></button>
                                <button><i class="icon-phone"></i></button>
                                <button><i class="icon-compass"></i></button>
                                <button><i class="icon-mail"></i></button>
				<%= button_to "Help", help_path, class: "shortcut" %>
				<%= button_to "Home", root_path, class: "bg-color-red" %>
                            </div>
                                    </div>


