<% provide(:title, @user.name) %>

<% content_for :sidebar do %>
<li>
	<%= link_to edit_user_path(params[:id]) do %> <i class="icon-wrench"></i> Edit user details
	<% end %>
</li>
<% end %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>

        <%= @user.email %>
      <% if @user.admin?  %>
         <p> Admin   </p>

      <% else  %>
         <p> User   </p>
      <% end %>
    </section>
  </aside>

</div>
