//$("#Summary<%=@userweekfound.id%>").text("<%=@userweekfound.summary%>")
$('#jiraTextbox').val("");
$('#listOfJiras').append('<a  class="button default" target="_blank" href="http://jira/browse/<%= @jira.jiranumber %>" ><%= @jira.jiranumber %></a>')








