<div class="nav-bar bg-color-darken">

                        <div class="nav-bar-inner">

                            <a href="#"><span class="element brand">Product Name</span></a>

                            <span class="divider"></span>



                            <ul class="menu">

                                <li data-role="dropdown">

                                    <a>Teams</a>

                                    <ul class="dropdown-menu">

                                        <li><a href="#">PL QA</a></li>

                                        <li><a href="#">SubItem 2</a></li>

                                        <li><a href="#">SubItem 3</a></li>

                                        <li class="divider"></li>

                                        <li><a href="#">SubItem 4</a></li>

                                    </ul>

                                </li>

                                <li><a href="#">Weeks</a></li>

                                <li><a href="#">Update</a></li>

                                <li><a href="#">My updates</a></li>

                            </ul>

                        </div>

                    </div>

